.blockWidgets {
    display: flex;
    justify-content: space-around;
}

.title {
    font-size: 32px;
    @media screen and (max-width: 1600px) {
        font-size: 28px;
    }

    @media screen and (max-width: 1200px) {
        font-size: 24px;
    }

    @media screen and (max-width: 769px) {
        font-size: 12px;
    }
}
