.title {
    text-align: center;
    font-size: 32px;
    @media screen and (max-width: 1600px) {
        font-size: 24px;
    }
    @media screen and (max-width: 769px) {
        font-size: 14px;
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    width: 33%;
}
