.spinner {
    width: 400px;
    height: 250px;
    @media screen and (max-width: 1600px) {
        width: 350px;
        height: 200px;
    }

    @media screen and (max-width: 1200px) {
        width: 250px;
        height: 150px;
    }

    @media screen and (max-width: 769px) {
        width: 120px;
        height: 80px;
    }
}
